/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #464646;
   --cor-de-texto: #464646;
   --cor-de-fundo-destaque: #EAF2FD;
   --cor-de-botoes-e-figuras: #FFFFFF;

}

html {

    color: var(--cor-de-link);
    text-align: justify;  

}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/


/*######################################################################################*/
/*Sección Menu*/


section.menu{
    position: sticky;
    top: 0;
    display: flex;
    align-content: center;
    margin-bottom: 1rem;
    align-items: center;
    background-color: var(--cor-de-fundo);
    padding: 01rem 10% 0 10%;
    border-bottom: 0.1rem solid #142234;
}

.menu__title {
    margin-left: 0.5rem;
}

.menu__header {
    display: flex;
    align-items: center;
}


section nav{
    flex-grow: 1;
    order: 1 2 3 4 5;

    
}

.menu__list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}



.menu__list__item a{
    margin-left: 0.5rem;

    padding: 0.5rem;
    transition: 1.5s background;
    
}



.menu__list__item a:hover {
    background-color: black;
    border-radius: 0.2rem;
    color: white;

}

.menu__list__item a:active {
    transform: scale(1.07);
	background-color: red;
	cursor: wait;
}

.menu__list__item__email {
    font-weight: bold;
}



/*######################################################################################*/
/*Sección Title*/
.title {
    padding: 00rem 10% 0 10%;
}

section div.title__div{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.title__bio {
    font-size: 3rem;
    margin-top: 0rem;
    
}

.title__profile {
    height: 30%;
    width: 30%;
}

.title__subsection{
    line-height: 1.5rem;
}

.title__container {
    margin-right: 2rem;
}

.title__network {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 0.78rem;
    margin: 0;
    margin-top: 2rem;
    padding: 0;


}

/* Animação no link do GITHUB LINKDIN INSTAGRAM CURRICULO */
li.title__network__item a{
    margin-right: 1rem;
    padding: 0.5rem;
    background-color: white;
    transition: 1.5s background;

}


li.title__network__item a:hover {
    background-color: black;
    border-radius: 0.2rem;
    color: white;

}

li.title__network__item a:active {
    transform: scale(1.07);
	background-color: red;
	cursor: wait;
}





/*######################################################################################*/
/*Sección About*/
section.about{

    margin-top: 2rem;
    line-height: 1.5rem;
    padding: 0.5rem 10% 0 10%;
    background-color: var(--cor-de-fundo-destaque);
}



/*######################################################################################*/
/*Sección Skills*/
.skills{
    padding: 0rem 10% 0 10%;
}

.skills__title {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
}

.hobbies__line {
    display: flex;
    justify-content: space-between;
    align-items:  center;  
    flex-wrap: wrap;

}

.hobbies__box {
    width: 16%;
    margin-bottom: 1;
    height: 9rem;
    text-align: center;

}

div.hobbies__box ul {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: var(--cor-de-botoes-e-figuras);
    text-align: left;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.hobbies__name, .hobbies__img {
    margin: 0 1rem;
    margin-bottom: 1rem;
}




/*######################################################################################*/
/*Sección Hobbies*/
.hobbies {
    padding: 0rem 10% 0 10%;
}

.hobbies__title {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
}

.skills__line {
    display: flex;
    justify-content: space-between;
    align-items:  center;  
    flex-wrap: wrap;

}

.skills__box {
    width: 16%;
    margin-bottom: 1;
    height: 9rem;
    text-align: center;

}

div.skills__box ul {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: var(--cor-de-botoes-e-figuras);
    text-align: left;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.skills__name, .skills__img {
    margin: 0 1rem;
    margin-bottom: 1rem;
}

div.hobbies__box ul, div.skills__box ul {
    transition: 1.0s background;
}

div.hobbies__box ul:hover, div.skills__box ul:hover {
    background-color: rgb(0, 0, 0);
    color:  white;
}





/*######################################################################################*/
/* Experiencia Académica*/

.academic__title {
    text-align: center;
    font-size: 2rem;
    margin-top: 0rem;
}

.academic__courses__list{
    margin: 0;
    padding: 0;

}

.academic {

    background-color: var(--cor-de-fundo-destaque);
    padding: 1rem 10% 0 10%;
    margin-top: 2rem;
}

.academic__courses{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.academic__courses__box{

    padding: 1rem;
    transition: 1.5s background ;
    width: 28%;
}

div.academic__courses__box:hover {
    background-color:#142234;
    padding: 1rem;
    color: white;
}


.academic__courses__item__img {
    text-align: center;
    background-color: white;
    height: auto;
}

.academic__courses__item__img img {
    height: 80%;
    width: 80%;
    padding: 5%;

}

.academic__courses__item__title h4, .academic__courses__item__subtitle p {
    margin-bottom: 0.5rem;
    margin-top: 0.4rem;
    padding-right: 1.5rem;

}


/*######################################################################################*/
/* experiencia*/
.experience__section__title, .experiencie__box, .experience__box, .formcontato, .footer {
    padding: 0rem 10% 0 10%;
    
}

.experience__section__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.375rem;    
    /* identical to box height */
    text-align: center;

    padding-top: 6rem;
}

.experiencie__box {
    display: flex;
    justify-content: baseline;
    margin-bottom: 3rem;

}

.experience__img {
    width: 60%;
}

.experience__info{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    font-weight: 700;
    font-size: 1.375rem;    
}



/* experiencia*/

.experience__box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: baseline;
    margin-bottom: 3rem;


}

.experience__img {
    width: 60%;
}

.experience__info-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 2rem;
    font-weight: 700;
    font-size: 1.375rem;
}

.experience__text {
    font-weight: 500;
    font-size: 1rem;
}



/*botão das expericencias*/
/*botao claro*/
.experiencia__botao--repo {
    border-color: #2A7AE4;
    height: 3.19rem;
    width: 6.56rem;
    font-size: 1rem;
    padding: 0;
    background-color: var(--cor-de-fundo);
    color: #2A7AE4;
    box-sizing: border-box;
    border-radius: 0.3rem;
    transition: 1.07s background;
}

.experiencia__botao--repo:hover {
    background-color:#142234;
    color: white;
    border: none;
}

.experiencia__botao--repo:active {
    transform: scale(1.07);
	background-color: red;
	cursor: wait;
}

/*botão escuro*/
.experience__botao--demo {
    border: none;
    height: 3.19rem;
    width: 6.56rem;
    font-size: 1rem;
    padding: 0;
    background-color:#2A7AE4;
    color: white;
    box-sizing: border-box;
    border-radius: 0.3rem;
    transition: 0.5s background;
}

.experience__botao--demo:hover {
    background-color:#142234;
}

.experience__botao--demo:active {
    transform: scale(1.07);
	background-color: red;
	cursor: wait;
}


/*######################################################################################*/
/* Contato*/
.formcontato {
    background-color: var(--cor-de-fundo-destaque);
    padding-bottom: 2rem;

}

.formcontato__contacto {

    left: -9.5rem;

    background-color: var(--cor-de-fundo-destaque);

}

.formcontato__text {

}

.formcontato__form {
    height: 76%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.formcontato__input{
    border: none;
    height: 3rem;
    font-size: 1rem;
}

.formcontato__textarea{
    border: none;
    height: 8rem;
    font-size: 1rem;
}

.formcontato__botao {
    border: none;
    height: 3.19rem;
    width: 9rem;
    font-size: 1rem;
    padding: 0;
    background-color:#2A7AE4;
    color: white;
    box-sizing: border-box;
    border-radius: 0.3rem;
    transition: 0.5s background;
}

.formcontato__botao:hover {
    background-color:#142234;
}

.formcontato__botao:active {
    transform: scale(1.07);
	background-color: red;
	cursor: wait;
}



/*######################################################################################*/
/*formulario*/
.formcontato__contacto {
    display: flex;
}

.formcontato--esquerda {
    width: 40%;
}

.formcontato__text {
    width: 60%;
}




/*######################################################################################*/
/* Roda pé*/
.footer {
    background-color: rgb(45, 40, 40);
    color: white;
    padding-top: 2rem;
}

.footer__rodape{
    font-weight: 500;
    text-align: center;
    padding-bottom: 1rem;
}

div.footer__rodape p {
    margin: 0rem; 
}











/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media screen and (min-width: 425px) and (max-width: 768px) {

    /*######################################################################################*/
    /* Menú */
    section.menu{
        position: sticky;
        top: 0;
        display: flex;
        align-content: center;
        margin-bottom: 3%;
        align-items: center;
        background-color: var(--cor-de-fundo);
    }

    .menu__title {
        margin-left: 0.5rem;
    }

    .menu__header {
        display: flex;
        align-items: center;
    }

    section nav{
        flex-grow: 1;

        
    }

    .menu__list {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;



    }

    .menu__list__item {
        display: none;
    }

    .menu__list__item__email {
        display: initial;
    }

    .menu__list__item a{
        margin-left: 0.5rem;

        padding: 0.5rem;
        transition: 1.5s background;
    }

    .menu__list__item a:hover {
        background-color: black;
        border-radius: 0.2rem;
        color: white;

    }

    .menu__list__item a:active {
        transform: scale(1.07);
        background-color: red;
        cursor: wait;
    }

    .menu__list__item__email {
        font-weight: bold;
    }

    /*######################################################################################*/
    /*Sección Title*/

    section div.title__div{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .title__bio {
        font-size: 1.375rem;
        line-height: 1.5rem;
        
    }

    .title__profile {
        height: 22%;
        width: 22%;
    }

    .title__container {
        margin-right: 2rem;
    }

    .title__subsection{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .title__network {
        display: flex;
        justify-content: left;
        align-items: center;
        font-size: 0.78rem;
        margin: 0;
        margin-top: 2rem;
        padding: 0;


    }

    /* Animação no link do GITHUB LINKDIN INSTAGRAM CURRICULO */
    li.title__network__item a{
        margin-right: 1rem;
        padding: 0.5rem;
        background-color: white;
        transition: 1.5s background;


    }


    li.title__network__item a:hover {
        background-color: black;
        border-radius: 0.2rem;
        color: white;

    }

    li.title__network__item a:active {
        transform: scale(1.07);
        background-color: red;
        cursor: wait;
    }

    /*######################################################################################*/
    /*Sección About*/
    section.about{
        font-size: 0.875rem;
        background-color: var(--cor-de-fundo-destaque); 
        line-height: 1.5rem;
        margin-top: 2rem;
    }   


    /*######################################################################################*/
    /*Sección Skills*/

    .skills__title {
        text-align: center;
        font-size: 2rem;
        margin-top: 4rem;
    }

    .skills__line {
        display: flex;
        justify-content: space-between;
        align-items:  center;  
        flex-wrap: wrap;

    }

    .skills__box {
        width: 31.5%;
        margin-bottom: 2rem;

        height: 9rem;
        text-align: center;
        


    }

    div.skills__box ul {
        display: flex;
        flex-direction: column;
        justify-content: end;
        background-color: var(--cor-de-botoes-e-figuras);
        text-align: left;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
    }

    .skills__img img{
        height: 100%;
        
    }

    .skills__name, .skills__img {
        margin: 0rem 1rem;
        margin-bottom: 1rem;

        
        
    }


    div.hobbies__box ul, div.skills__box ul {
        transition: 1.0s background;
    }

    div.hobbies__box ul:hover, div.skills__box ul:hover {
        background-color: rgb(0, 0, 0);
        color:  white;
    }

    /*######################################################################################*/
    /*Sección Hobbies*/

    .hobbies__title {
        text-align: center;
        font-size: 2rem;
        margin-top: 4rem;
    }

    .hobbies__line {
        display: flex;
        justify-content: space-between;
        align-items:  center;  
        flex-wrap: wrap;

    }

    .hobbies__box {
        width: 31.5%;
        margin-bottom: 2rem;
        height: 9rem;
        text-align: center;

    }

    div.hobbies__box ul {
        display: flex;
        flex-direction: column;
        justify-content: end;
        background-color: var(--cor-de-botoes-e-figuras);
        text-align: left;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
    }

    .hobbies__name, .hobbies__img {
        margin: 0 1rem;
        margin-bottom: 1rem;
    }


    /*######################################################################################*/
    /* formação Académica*/

    .academic__title {
        text-align: center;
        font-size: 2rem;
        margin-top: 2rem;
    }

    .academic__courses__list{
        margin: 0;
        padding: 0;

    }

    .academic {
        background-color: var(--cor-de-fundo-destaque);
    }

    .academic__courses{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }


    div.academic__courses__box{

        padding: 1rem;
        transition: 1.5s background ;
        width: 24%;


    }

    div.academic__courses__box:hover {
        background-color:#142234;
        padding: 1rem;
        color: white;
    }


    .academic__courses__item__img {
        text-align: center;
        background-color: white;
        height: 5rem;

    }

    .academic__courses__item__img img {
        height: 80%;
        width: 80%;
        padding: 5%;

    }

    .academic__courses__item__title h4, .academic__courses__item__subtitle p {
        margin-bottom: 0.5rem;
        margin-top: 0.4rem;
        padding-right: 1.5rem;

    }

    /*######################################################################################*/
    /* experiencia*/

    .experience__section__title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.375rem;    
        /* identical to box height */
        text-align: center;
        margin: 3.5rem 0;
    }

    .experiencie__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 3rem;


    }

    img.experience__img {
        width: 100%;
        height: 90%;

    }

    .experience__info{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0rem;
        margin-top: 1rem;
        font-weight: 700;
        font-size: 1rem;    
    }



    /* experiencia*/

    .experience__box {
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        margin-bottom: 3rem;


    }

    .experience__img {
        width: 60%;
    }

    .experience__info-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 0rem;
        margin-top: 1rem;
        font-weight: 700;
        font-size: 1rem;
    }

    .experience__text {
        font-weight: 500;
        font-size: 1rem;
    }   

    /*######################################################################################*/
    /*formulario*/
    .formcontato {
        padding-bottom: 4rem;
    }

    .formcontato--esquerda {
        display: none;
    }

    .formcontato--esquerda {
        width: 0%;
    }

    .formcontato__text {
        width: 100%;
    }

    /*######################################################################################*/
    /* Roda pé*/
    .footer {
        background-color: rgb(45, 40, 40);
        color: white;
        padding-top: 1rem;
    }

    .footer__rodape{
        font-weight: 500;
        text-align: center;
        margin-bottom: 0rem;

    }

    div.footer__rodape p {
        margin: 0rem; 
    }

}

/*Mobile*/
@media screen and (max-width: 425px) {

/*######################################################################################*/
    /* Menú */
    section.menu{
        position: static;
        display: flex;
        align-content: center;
        margin-bottom: 3%;
        padding: 0 1rem;
        align-items: center;
        background-color: var(--cor-de-fundo);
        font-size: 1rem;
        justify-content: space-between;

    }

    .menu__list {
        padding: 0;
    }

    .menu__header {
        display: flex;
        align-items: center;

    }




    .menu__list__item {
        display: none;
    }

    .menu__list__item__email {
        display: initial;
    }

    .menu__list__item a{
        margin-left: 0.5rem;
        padding: 0.5rem;
        transition: 1.5s background;
    }

    .menu__list__item a:hover {
        background-color: black;
        border-radius: 0.2rem;
        color: white;

    }

    .menu__list__item a:active {
        transform: scale(1.07);
        background-color: red;
        cursor: wait;
    }

    .menu__list__item__email {
        font-weight: bold;
    }


    /*######################################################################################*/
    /*Sección Title*/
    .title {
        padding: 0 1rem;
    }

    section div.title__div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .title__bio {
        font-size: 1.375rem;
        line-height: 1.5rem;
        
    }

    .title__profile {
        height: 30%;
        width: 30%;
    }

    .title__container {
        margin-right: 0rem;
    }

    .title__subsection{
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .title__network {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.7rem;
        margin: 0;
        margin-top: 2rem;
        padding: 0;


    }

    /* Animação no link do GITHUB LINKDIN INSTAGRAM CURRICULO */
    li.title__network__item a{
        margin-right: 0.3rem;
        padding: 0.5rem;
        background-color: white;
        transition: 1.5s background;



    }


    li.title__network__item a:hover {
        background-color: black;
        border-radius: 0.2rem;
        color: white;

    }

    li.title__network__item a:active {
        transform: scale(1.07);
        background-color: red;
        cursor: wait;
    }






    /*######################################################################################*/
    /*Sección About*/
    section.about{
        font-size: 0.875rem;
        background-color: var(--cor-de-fundo-destaque); 
        line-height: 1.5rem;
        margin-top: 1.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    } 
    
    .about__title {
        margin: 0;
        padding-top: 0rem;
    }


    /*######################################################################################*/
    /*Sección Skills*/
    .skills {
        padding: 0 1rem;
    }

    .skills__title {
        text-align: center;
        font-size: 2rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .skills__line {
        display: flex;
        justify-content: space-between;
        align-items:  center;  
        flex-wrap: wrap;

    }

    .skills__box {
        width: 48.5%;
        margin-bottom: 0.5rem;

        height: 9rem;
        text-align: center;

    }

    div.skills__box ul {
        display: flex;
        flex-direction: column;
        justify-content: end;
        background-color: var(--cor-de-botoes-e-figuras);
        text-align: left;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
    }

    .skills__img img{
        height: 100%;
        
    }

    .skills__name, .skills__img {
        margin: 0rem 1rem;
        margin-bottom: 1rem;

        
        
    }


    div.hobbies__box ul, div.skills__box ul {
        transition: 1.0s background;
    }

    div.hobbies__box ul:hover, div.skills__box ul:hover {
        background-color: rgb(0, 0, 0);
        color:  white;
    }

    /*######################################################################################*/
    /*Sección Hobbies*/
    .hobbies {
        padding-top: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .hobbies__title {
        text-align: center;
        font-size: 2rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .hobbies__line {
        display: flex;
        justify-content: space-between;
        align-items:  center;  
        flex-wrap: wrap;

    }

    .hobbies__box {
        width: 48.5%;
        margin-bottom: 0.5rem;
        height: 9rem;
        text-align: center;

    }

    div.hobbies__box ul {
        display: flex;
        flex-direction: column;
        justify-content: end;
        background-color: var(--cor-de-botoes-e-figuras);
        text-align: left;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
    }

    .hobbies__name, .hobbies__img {
        margin: 0.5rem 1rem;

    }


        /*######################################################################################*/
    /* formação Académica*/

    .academic {
        background-color: var(--cor-de-fundo-destaque);
        padding-top: 1.5rem;
        margin-top: 1.5rem;
        padding-left: 1rem;
        padding-right: 1rem;

    }


    .academic__title {
        text-align: center;
        font-size: 2rem;
        margin: 0;
    }

    .academic__courses__list{
        margin: 0;
        padding: 0;

    }

    .academic__courses{
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }


    div.academic__courses__box{

        padding: 1rem;
        transition: 1.5s background ;
        width: auto;


    }

    div.academic__courses__box:hover {
        background-color:#142234;
        padding: 1rem;
        color: white;
    }


    .academic__courses__item__img {
        text-align: center;
        background-color: white;
        height: 9rem;

    }

    .academic__courses__item__img img {
        height: 80%;
        width: 80%;
        padding: 5%;

    }

    .academic__courses__item__title h4, .academic__courses__item__subtitle p {
        margin-bottom: 0.5rem;
        margin-top: 0.4rem;
        padding-right: 1.5rem;

    }

    /* experiencia*/

    .experiencie__box, .experience__box  {
        padding-top: 0;
        padding-right: 1rem;
        padding-left: 1rem;

    }


    .experience__section__title {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.375rem;    
        /* identical to box height */
        text-align: center;
        margin: 1rem 0;
    }

    .experiencie__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 3rem;


    }

    img.experience__img {
        width: 100%;
        height: 90%;

    }

    .experience__info{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0rem;
        margin-top: 1rem;
        font-weight: 700;
        font-size: 1rem;    
    }



    /* experiencia*/

    .experience__box {
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        margin-bottom: 3rem;


    }

    .experience__img {
        width: 60%;
    }

    .experience__info-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 0rem;
        margin-top: 1rem;
        font-weight: 700;
        font-size: 1rem;
    }

    .experience__text {
        font-weight: 500;
        font-size: 1rem;
    }   


        /*######################################################################################*/
    /*formulario*/
    .formcontato{
        background-color: var(--cor-de-fundo-destaque);
        padding-top: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }


    .formcontato {
        padding-bottom: 4rem;
    }

    .formcontato--esquerda {
        display: none;
    }

    .formcontato--esquerda {
        width: 0%;
    }

    .formcontato__text {
        width: 100%;
    }

    /*######################################################################################*/
    /* Roda pé*/
    .footer {
        background-color: rgb(45, 40, 40);
        color: white;
        padding-top: 1rem;
    }

    .footer__rodape{
        font-weight: 500;
        text-align: center;
        margin-bottom: 0rem;

    }

    div.footer__rodape p {
        margin: 0rem; 
    }


}   
